@charset "UTF-8";
/* 顏色變數 */
* {
  font-family: "Noto Sans";
}
/* 定義閃爍效果 */
@keyframes blinking {
  0% {
    opacity: 1; /* 完全不透明 */
  }
  50% {
    opacity: 0; /* 完全透明 */
  }
  100% {
    opacity: 1; /* 完全不透明 */
  }
}

/* 將閃爍效果應用到目標元素 */
.blink {
  animation: blinking 1s infinite; /* 持續時間 1 秒，無限循環 */
}

body {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #081731;
  /* #081731 */
  color: white;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0px 0px 20px 0px;
}

h3 {
  margin: 0;
  margin-bottom: 15px;
}
h3:after {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #EF3E36;
  margin-left: 10px;
  animation: blinking 1s infinite;
}
hr{
  border: 0.5px solid #f1faee;
}

.application {
  padding: 30px;
  max-width: 950px;
  border: solid 1px white;
  /*圖片設定*/   
  /*按鈕設定*/  
}
.application .buttons a {
  color: #EF3E36;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px 0 0;
  cursor: pointer;
}

h2, .butttons {
  display: inline;
}
.second{
  border: 2px dotted #EF3E36 ;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 0 20%;
}
.lessonList ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lessonList ul li h4{
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
}
.lessonList ul li i{
  padding: 5px;
}
.lessonList p{
  padding: 5px 0;
}
.lessonList a{
  color: #EF3E36;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}