@charset "UTF-8";
/* 顏色變數 */
* {
  font-family: "Noto Sans";
}
/* 定義閃爍效果 */
@keyframes blinking {
  0% {
    opacity: 1; /* 完全不透明 */
  }
  50% {
    opacity: 0; /* 完全透明 */
  }
  100% {
    opacity: 1; /* 完全不透明 */
  }
}

body {
  padding: 30px;
  background: linear-gradient(to right, #24237a, #0b1017);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-direction: row; */
  /* justify-content: center; */
  color: white;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.application {
  padding: 30px;
  max-width: 950px;
  border: 2px solid  white;  
  border-radius: 28px;
}
/* 將閃爍效果應用到目標元素 */
.blink {
  animation: blinking 1s infinite; /* 持續時間 1 秒，無限循環 */
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0px 0px 20px 0px;
  font-size: 32px;
}
.img{
    margin-top: 15px;
    margin-right: 25px;
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px;
    /* background-image: url(https://i.pinimg.com/564x/b8/31/e1/b831e1eecb32c74822f1d6929ea2d15f.jpg); */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/wehelpapplication-f0cc0.appspot.com/o/pic.jpeg?alt=media&token=c040731e-aa80-4cce-a5c4-6c4ed9c87695);
    background-size: cover;;
    color: rgba(256,256,256,1);   
}
.img2{
  margin-left: 25px;
  float: right;
  width: 180px;
  height: 180px;
  background-size: cover; 
}
h1,.img{
  display:inline-block;
}
h3 {
  margin: 0;
  margin-bottom: 15px;
}
h3:after {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 6px;
  background-color: #ED7866;
  margin-left: 10px;
  animation: blinking 1s infinite;
}
.top{
  padding-top: 10px;
}
.topic{
  margin-top: 25px;
  margin-bottom: 36px;
  /* border: 2px solid white; */
}
.content{
  padding-left: 20px;
}
  /*連結設定*/ 
.application .buttons a {
  color: #ED7866;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px 0 0;
  cursor: pointer;
}
/* 按鈕設定 */
#btn4{
  font-size: 12px;
  font-weight: bold;
  color:white;
  letter-spacing: 1px;
  padding: 4px 6px 4px;
  outline: 0;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background-color: #081731;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

#btn4:after {
  content: "";
  background-color: #081731;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 6px;
  left: 6px;
  border-radius: 3px;
}
#btn4:hover:after {
  background-color: #FFE072;
  transition: ease-in-out 0.5s;
}

h2, .butttons {
  display: inline;
}
.second{
  border: 2px dotted #ED7866 ;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 0 20%;
}
.lessonList ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.lessonList ul li h4{
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
}
.lessonList ul li i{
  padding: 5px;
}
.lessonList p{
  padding: 5px 0;
}
.lessonList a{
  color: #ED7866;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}


/* light mode */
.light-mode{
  padding: 30px;
  background: linear-gradient(to right, #cbf3f0, #47a2a9);
  color: #545454;  
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}
.light-mode .application{
  background-color: #fafafd;
  border-radius: 28px;
  border: 2px solid #545454;
} 
.light-mode h3:after {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 6px;
  background-color: #EB9F8B;
  margin-left: 10px;
  animation: blinking 1s infinite;
}
.light-mode .second{
  border: 2px dotted #EB9F8B ;
}
#btn4:before{
content: "🌞 日間模式";
}

.light-mode #btn4{
background-color: #4a4e69;
color: #cbf3f0;
border: 1px solid #081731;
}
.light-mode #btn4:before{
content: "🌙 夜間限定";
}
.light-mode #btn4:after {
background-color: #cbf3f0;
}
.light-mode #btn4:hover:after {
background-color: #081731;
}
.light-mode .lessonList a{
color: #EB9F8B;
text-decoration: none;
display: inline-block;
margin: 0;
cursor: pointer;
font-weight: bold;
}
.light-mode .application .buttons a {
color: #EB9F8B;
font-weight: bold;
text-decoration: none;
display: inline-block;
margin: 0 15px 0 0;
cursor: pointer;
}

/* RWD */
@media screen and (max-width: 768px) { 
  body {
    padding: 10px;
    background-color: #081731;
    /* #081731 */
    color: white;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
  }
  
  h1{
  margin-bottom: 30px;
}
  h3{
    font-size: 20px;
  }
  .application .buttons a {
    color: #EF3E36;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px 0 0;
    cursor: pointer;
  }
  .img{
    margin-top: 0px;
  }
  .topic{
    margin-top: 50px;
  }
  .title{
    font-size: ;
  }
  .content{
    padding-left: 0;
  }
  h2, .butttons {
    display: inline;
  }
  .lessonList {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .lessonList li{
    padding: 10px;
    width: 180px;
    margin-right: 3px;
    margin-bottom: 20px;
    border: 1px solid #C2C5CC;
    border-radius: 5px; 
  }
  .lessonList ul li h4{
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .content_schedule,img2{
    display: inline;

  }
  .title{
    padding-top: 5px;
    padding-bottom: 18px;
  }
/* light-mode */
.light-mode{
  padding: 10px;
  background-color: #92BFB1;
  /* #081731 */
  color: #4a4e69;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}
}